@import './fonts.css';

@tailwind base;
@tailwind utilities;
@tailwind components;

* {
    font-family: 'Source Sans Pro' !important;
}

.rtl {
    direction: rtl !important;
}

.ltr {
    direction: ltr !important;
}

.truncate2, .truncate3 {
    display: -webkit-box !important;
    overflow: hidden !important;
    -webkit-box-orient: vertical !important;
}

.truncate2 {
    -webkit-line-clamp: 2 !important;
}

.truncate3 {
    -webkit-line-clamp: 3 !important;
}
